/* General Settings */
body {
  background-color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
  color: #24272C;
  margin: 0;
  padding: 0;
}

/* Container */
.home-container {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

/* Intro Section */
.home-intro {
  text-align: center;
  margin-bottom: 20px;
}

.home-specialty {
  font-size: 24px;
  color: #192F59;
}

.home-deliver {
  font-size: 16px;
  color: #24272C;
}

/* Services Section */
.home-services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.home-service-card {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
  margin-bottom: 20px; /* Add margin-bottom to separate rows */
}

.home-service-card:hover {
  transform: translateY(-5px);
}

.home-service-icon {
  font-size: 40px;
  color: #3DB166; /* Update to primary color */
  margin-bottom: 10px;
}

.home-service-title {
  font-size: 20px;
  color: #192F59;
  margin-bottom: 10px;
}

.home-service-description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.home-read-more {
  background-color: #3DB166;
  color: white;
  border: 1px solid #3DB166;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.home-read-more:hover {
  background-color: #192F59;
  color: #3DB166;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .home-service-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .home-service-card {
    width: 100%;
  }
}
